.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #9333ea, #c026d3);
  }
  
  .content {
    width: 100%;
    max-width: 320px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 16px;
  }
  
  .title, .subtitle {
    color: white;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 18px;
    margin-top: 12px;
  }
  
  .inputField {
    width: 100%; /* S'assure que l'input utilise toute la largeur du conteneur */
    border-radius: 9999px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 24px 12px 12px; /* Ajoute plus de padding à droite pour faire de la place à l'icône */
    color: white;
    border: 2px solid white;
    outline: none;
    font-family: inherit;
  }
  .icon {
    position: absolute;
    right: 0px; 
    top: 50%; 
    transform: translateY(-50%); 
    height: 20px;
    width: 20px;
    color: white; 
  }
  .inputContainer {
    position: relative;
    width: 100%; 
  }
  @font-face {
    font-family: 'Logotype';
    src: url('../fonts/Logotype.ttf') format('truetype');
  }
  
  